.main-section {
  .main-section-content {
    .ask-question {
      padding: 5rem;
      background: $color-bg;
      height: 100vh;
      width: 100vw;

      h2 {
        font-weight: 600;
        font-size: 2rem;
        color: $color-dark;
      }
      .main-row {
        display: flex;
        justify-content: space-around;
        height: 80%;
        margin-bottom: 1rem;

        .section1 {
          background-color: white;
          border-radius: 5px;
          padding: 20px;
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .title {
            font-weight: bold;
            color: $color-dark;
            font-weight: 500;
          }
          .desc {
            color: $color-info-dark;
          }
        }
      }
    }
    button {
      width: 40%;
    }
  }
  .articles {
    padding: 2rem 1rem;

    .accordion-wrapper {
      width: auto;
      display: flex;
      flex-direction: column;
      .sec2-title {
        background: white;
        padding: 10px;
        font-size: 1.2rem;
        font-weight: 600;
        color: $color-dark;
      }
      .accordion {
        background: white;
        padding: 10px;
        flex: 1;
      }
    }
  }
}

.row-title {
  display: flex;
  justify-content: space-between;
}
@media (max-width: $breakpoint-mobile) {
  .ask-question {
    padding: 0.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-row {
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      flex-direction: column-reverse;
    }
  }
}
