.nav-bar-wrapper {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  width: 100%;
  height: 6%;
  .nav-bar {
    height: 100%;
    width: 78%;
    margin: 0 auto;
    padding: 0 0.7rem;
    // background: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      color: $color-primary;
      font-weight: 600;
      font-size: 2rem;
      text-decoration: none;
      span {
        color: $color-accent;
        font-size: 2rem;
      }
    }
    .nav__links_wrapper {
      width: 50%;
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-evenly;
      .nav-link {
        text-decoration: none;
        color: $color-dark;
        font-weight: 500;
        font-size: 1.2rem;
        &:hover,
        &:focus {
          color: $color-primary;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .nav-bar-wrapper {
    width: 100vw;
    .nav-bar {
      height: 100%;
      width: 100%;
      .logo {
        font-size: 1.5rem;
        span {
          font-size: 1.5rem;
        }
      }
      .nav__links_wrapper {
        width: auto;
        .nav-link {
          font-size: 1rem;
        }
      }
      .nav__bar_btn {
        display: none;
      }
    }
  }
}
