//users pages styles
.main-section {
  height: auto;
  overflow-y: auto;
  //main center content area
  .main-section-content {
    .user-account {
      display: grid;
      grid-template-columns: 15% auto 18%;
      align-items: center;
      gap: 0.5rem;
      span {
        h3 {
          font-size: 1.4rem;
          font-weight: 500;
          color: $color-primary;
        }
        small {
          color: $color-info-dark;
          display: flex;
          align-items: center;
          gap: 0.6rem;
        }
      }
    }
    .user-articles {
      // background: green;

      display: grid;
      grid-template-columns: 1fr;
      overflow-y: auto;
      //overflow: hidden;
      gap: 0.5rem;

      div {
        padding: 0.5rem;
        overflow: hidden;
        p {
          margin-bottom: 1rem;
          color: $color-info-dark;
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          span {
            background: $color-primary;
            border-radius: 50%;
            width: 2em;
            height: 2em;
            color: white;
            font-size: 0.8rem;
            display: grid;
            place-items: center;
          }
        }
        .span-card {
          border: solid $color-info-dark 0.2rem;
          border-radius: 0.3rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          max-height: 15rem;
          overflow-y: auto;
          padding: 0.5rem;

          .tags-wrapper {
            display: flex;
            flex-direction: column;
          }
          .info-btn {
            max-width: 3rem;
            max-height: 2rem;
          }
          .bullets-wrapper {
            padding: 0.5rem 0;
            border-bottom: 0.1rem solid $color-info-dark;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            .text-btn {
              display: flex;
              gap: 0.2rem;
              align-items: center;
              flex-grow: 1;
              justify-content: flex-start;

              small {
                color: $color-primary;
                font-size: 0.9rem;
                cursor: pointer;
              }
            }
          }
          p {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
  //articles sections
  .articles {
    padding-top: 1rem;
  }
}

@media (max-width: $breakpoint-mobile) {
  .main-section {
    height: auto;

    //main center content area
    .main-section-content {
      overflow-y: auto;
      .user-account {
        grid-template-columns: 1fr !important;
        align-items: center !important;

        span {
          h3 {
            font-size: 1.4rem;
            font-weight: 500;
            color: $color-primary;
          }
          small {
            color: $color-info-dark;
            display: flex;
            align-items: center;
            gap: 0.6rem;
          }
        }
      }
    }
  }
}
