.searchbar {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

  .mobile-menu {
    display: none;
  }
  .sm-nav {
    display: none;
  }
  //   background: green;
  .logo {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    color: $color-primary;
    span {
      font-size: 2rem;
      font-weight: 600;
      color: $color-accent;
    }
  }
  .search-input {
    border: solid $color-info-dark 0.1rem;
    padding: 1rem 0.7rem;
    border-radius: 1rem;
    width: 50%;
    outline: none;
    .search__icon {
      font-size: 1.2rem;
      color: $color-dark;
      position: absolute;
      left: 0.2rem;
    }
  }
  .nav__icons {
    color: $color-dark;
    font-size: 2.1rem;
  }
}
@media (max-width: $breakpoint-mobile) {
  .searchbar {
    position: relative;
    .mobile-menu {
      display: block;
      background: transparent;
      border: none;
      outline: none;
      .menu {
        font-size: 2rem;
        color: $color-dark;
      }
    }
    .sm-nav {
      position: absolute;
      width: 50%;
      border-radius: 0.5rem;
      top: 100%;
      left: 10%;
      z-index: 11;
      display: block;
      display: flex;
      padding: 1rem;
      background: $color-primary;
      flex-direction: column;
      gap: 1rem;
      p {
        cursor: pointer;
        color: $color-danger;
      }
      .nav-link {
        color: white;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $color-accent;
        }
      }
    }
    height: 8%;
    .logo {
      font-size: 1rem;
      span {
        font-size: 1rem;
      }
    }
    .search-input {
      padding: 0.3rem;
    }
    .nav__icons {
      display: none;
    }
    button {
      display: none;
    }
  }
}
