.main-section {
  display: grid;
  grid-template-columns: 25% auto 25%;

  width: 100%;

  //side bar
  .aside {
    border-right: 0.1rem solid $color-info-dark;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10rem;
    gap: 1rem;
    .side__nav__links {
      text-decoration: none;
      position: relative;
      padding: 0.9rem 1.9rem;
      width: 60%;

      color: $color-dark;
      display: flex;
      gap: 0.7rem;
      align-items: center;
      &::after {
        position: absolute;
        right: 0;
        top: 0;
        content: "";
        height: 100%;
        width: 0.5rem;
        background: $color-accent;
      }
      &.active {
        background: $color-bg-variant;
      }
    }
  }
  //main center content area
  .main-section-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    .section-header {
      h3 {
        font-weight: 500;
        font-size: 2rem;
      }
    }
    .article-title {
      font-weight: 500;
      font-size: 1.5rem;
    }
    .question {
      padding: 0.5rem 0;
      border-bottom: 0.1rem solid $color-info-dark;
      display: grid;
      grid-template-columns: 10% auto;
      grid-template-rows: auto 20%;
      grid-template-areas:
        "submenu content"
        "submenu card";
      .user-card {
        border-radius: 0.5rem;
        padding: 0.5rem;
        background: $color-primary-variant;
        width: 18rem;

        grid-area: card;
        justify-self: flex-end;
        display: grid;
        gap: 0.5em;
        grid-template-columns: 20% auto;
        grid-template-rows: 25% auto;
        grid-template-areas:
          "status status"
          "avatar username"
          "avatar username";
        small {
          color: $color-primary;
          grid-area: status;
          font-weight: 300;
        }
        .avatar {
          grid-area: avatar;
        }
        .username {
          grid-area: username;
          display: grid;
          align-items: center;
          font-weight: 500;
          font-size: 1.5rem;
          color: $color-primary;
        }
      }
      .question-content {
        grid-area: content;
        padding-top: 1rem;
      }
      .submenu {
        grid-area: submenu;
      }
    }
    .your-answer {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      small {
        color: $color-info-dark;
        font-weight: 300;
        span {
          color: $color-primary;
        }
      }
    }
  }
  //articles sections
  .articles {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    button {
      width: 40%;
    }
    .faqs {
      h2 {
        font-weight: 500;
        color: $color-info-dark;
        font-size: 1.3rem;
      }
      .span-card {
        border: solid $color-info-dark 0.2rem;
        border-radius: 0.3rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-height: 20rem;
        overflow-y: auto;
        padding: 0.8rem;

        .tags-wrapper {
          display: flex;
          flex-direction: column;
        }
        .info-btn {
          max-width: 3rem;
          max-height: 2rem;
        }
        .bullets-wrapper {
          padding: 0.5rem 0;
          border-bottom: 0.1rem solid $color-info-dark;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          .text-btn {
            display: flex;
            gap: 0.2rem;
            align-items: center;
            flex-grow: 1;
            justify-content: flex-start;

            small {
              color: $color-primary;
              font-size: 0.9rem;
              cursor: pointer;
            }
          }
        }
        p {
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .main-section {
    padding: 0.5rem;
    grid-template-columns: 1fr;
    order: -1;
    .aside {
      display: none;
    }
    .main-section-content {
      .question {
        .user-card {
          text-align: right;
          max-width: 12rem;
          max-height: 4rem;
          font-size: 0.7rem;
          small {
            font-size: 0.8rem;
          }
          .avatar {
            display: none;
          }
          .username {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
