$color-bg: #f1f2f3;
$color-bg-variant: #f1f2f3;
//DARK TEXT
$color-info-dark: #7a7878;
//LIGHT TEXT
$color-info-dark: #aba8a8;
$color-accent: #f48225;
$color-accent-variant: #feebe4;
//DARK ICONS
$color-dark: #373737;
//primary color
$color-primary: #0a95ff;
$color-primary-variant: #c9e6f4;
