@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./variables";
@import "./home";
@import "./profile";
@import "./solutions";
@import "./account";
@import "./searchbar";
@import "./footer";
@import "./landing";
@import "./askquestion";
@import "./navbar";

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: "Poppins", sans-serif;
  background: white;
  height: 100vh;
  width: 100vw;
  // overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.submenu {
  width: 3rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .chevrons {
    font-size: 3rem;
    color: $color-info-dark;
    &.bookmark {
      font-size: 2rem;
    }
  }
  p {
    color: $color-dark;
  }
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

.pry-btn {
  background: $color-primary;
  color: white;
  font-weight: 600;
}
.sec-btn {
  background: $color-accent-variant;
  color: $color-accent;
  font-weight: 500;
  border: solid $color-accent 0.1rem;
}
.ter-btn {
  background: $color-accent;
  color: white;
  font-weight: 500;
  border: solid $color-accent 0.1rem;
}
.log-out-btn {
  background: $color-accent;
  color: white;
}
.info-btn {
  width: 2em;
  height: 1.5em;
  border-radius: 0.3rem;
  border: none;
  background: $color-accent;
  color: white;
}
.link__icons {
  color: $color-dark;
}

//inputs
.inputs {
  padding: 0.8rem 0.7rem;
  border-radius: 0.3rem;
  border: solid $color-info-dark 0.1rem;
  width: 100%;
}

//toast component
.form__status {
  align-self: center;
  color: $color-dark;
  font-weight: 500;
  background-color: $color-danger;
  width: 60%;
  border-radius: $border-radius-1;
  padding: $space-2xs;
  text-align: center;
  transition: 300ms ease;
  &.active {
    background: $color-success !important;
    color: $color-dark !important;
  }
  &.loading {
    background: $color-dark-variant;
    color: white;
  }
}
.solutions-wrapper {
  overflow: hidden;
  overflow-y: auto;

  max-height: 20rem;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.3rem;
  background: $color-info-dark;
}
::-webkit-scrollbar-thumb {
  background: $color-primary;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
